.bg {
  background-image: url(bread_roll_pan.jpg);
  background-repeat: repeat;
  background-size: 100px;
}
.midasi {
  color: purple;
  font-family: "Franklin Gothic Medium", "Arial Narrow", "Yu Gothic", Arial,
    sans-serif;
  font-style: italic;
  text-align: center;

  background-color: orange;
  border-radius: 30px;
  margin-left: 25%;
  margin-right: 25%;
}
.flex-container {
  display: flex;
  justify-content: center;
}
.flex-item {
  background-color: aquamarine;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;

  height: auto;
}
.flex-item h3 {
  text-decoration: overline;
}
.prf_img {
  width: auto;
  height: 300px;
  cursor: pointer;
}
.prf_syosai img {
  width: 280px;
  height: auto;
}
